/* creative section start */
.cc-center {
    background-color: #F7F7F7;
    padding: 20px;
}

.cc-center .cc-info {
    gap: 25px;
    flex-wrap: wrap;
}

.cc-center .cc-box {
    background-color: white;
    width: calc(33.33% - 70px);
    padding: 20px;
    border-radius: 10px;
    margin: auto;

}

.cc-center .cc-box .img {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: "#F6475F";
}

.cc-center .cc-box .img img {
    border-radius: 50%;
    width: 100%;
}

.cc-center .cc-box .desc h5 {
    text-align: center;
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin: 12px 0 8px 0;
}

.cc-center .cc-box .desc p {
    color: #888888;
    text-align: center;
    font-size: 16px;
}
/* creative section end */
/* partners section start */
.p-center {
    margin-top: 80px;
}

.p-box {
    border: 1px solid #ddd;
    margin: auto;
    width: 172px;
}
/* partners section end */
/* widget section start */

.w-center {
    margin-top: 80px;
}

.w-info {
    text-align: left;
}
.w-tital
{
    text-align: left;
    font-size: 20px;
}

.w-info a {
    border: 1px solid #ddd;
    font-size: 12px;
    margin: 0 2px;
    padding: 2px 5px;
    display: inline-block;
}
/* widget section end */
/* footer section start */

.space{
    margin-top: 50px;
}
.footer{
    background: #003366;
    padding-top: 70px;
}

.footer .f-box{
    padding: 0 20px;
    font-size: 14px;
    text-align: left;
}
.footer .logo{
    margin-bottom: 15px;
    width: 250px;
    color:white;
}
.footer p{
    color: white;
    text-align: justify;
    margin-bottom: 16px;
}
.footer .f-box h6{
    color: var(--yellow);
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer .social li{
    padding: 4px;
    display: inline-block;
}
.footer .social li a{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: center;
}
li a 
{
    padding: 12px 10px;
}
.links{
    text-align: left;
}
.footer .f-box .links li{
    padding: 0 0 10px;
}
.footer .links a{
    color: white;
    font-size: 14px;
}

.footer .head h6{
    margin-bottom: 8px;
    font-size: 16px;
}
.footer .head h6 a{
    color: #EFBC06;
}
.footer .head span{
    color: white;
}
.footer .head a{
    color: #EFBC06;
}
.footer .branch li{
    margin-bottom: 2px;
    text-align: left;
}

.footer .branch a{
    color: white;
    display: flex;
    align-items: center;
}

.copyright{
    padding: 15px 0;
    background-color: #072044;
}
.copyright p{
    color: white;
}

/* footer section end */
